Checks:
    - 'abseil-*'
    - 'bugprone-*'
    - 'clang-analyzer-*'
    - 'google-*'
    - 'misc-*'
    - 'modernize-*'
    - 'performance-*'
    - 'portability-*'
    - 'readability-*'
    - '-bugprone-easily-swappable-parameters'
    - '-bugprone-reserved-identifier'
    - '-google-readability-todo'
    - '-misc-include-cleaner'
    - '-misc-use-anonymous-namespace'
    - '-modernize-use-trailing-return-type'
    - '-modernize-pass-by-value'
    - '-performance-enum-size'
    - '-performance-unnecessary-value-param'
    - '-readability-identifier-length'
    - '-readability-implicit-bool-conversion'
    - '-readability-uppercase-literal-suffix'
CheckOptions:
    readability-identifier-naming.PrivateMemberSuffix: '_'
    readability-identifier-naming.ProtectedMemberSuffix: '_'
    readability-identifier-naming.MethodCase: 'CamelCase'

WarningsAsErrors: '*'
